USE [master]
GO
/****** Object:  Database [bm_pm]    Script Date: 06/18/2015 16:05:44 ******/
CREATE DATABASE [bm_pm] ON  PRIMARY 
( NAME = N'bm_pm', FILENAME = N'D:\Database\bm_pm.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bm_pm_log', FILENAME = N'D:\Database\bm_pm_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bm_pm].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [bm_pm]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 06/18/2015 16:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[ULastTime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AreaConfig]    Script Date: 06/18/2015 16:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AreaConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [varchar](100) NOT NULL,
	[IndexPagePicUrl] [varchar](500) NULL,
	[AreaPagePicUrl] [varchar](500) NULL,
	[RegisterNumLimit] [int] NOT NULL,
	[RegisterNumNow] [int] NULL,
	[State] [varchar](50) NULL,
	[BgColor] [varchar](50) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[PromptInfo] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TableData]    Script Date: 06/18/2015 16:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TableData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FieldID] [varchar](100) NULL,
	[FieldValue] [varchar](500) NULL,
	[AreaID] [int] NULL,
	[TableDataID] [uniqueidentifier] NULL,
	[Num] [int] NULL,
 CONSTRAINT [PK__TableDat__3214EC271273C1CD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TableInfoConfig]    Script Date: 06/18/2015 16:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TableInfoConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FieldCode] [varchar](500) NULL,
	[FieldName] [varchar](500) NULL,
	[FieldType] [varchar](500) NULL,
	[FieldValue] [varchar](500) NULL,
	[RegExpress] [varchar](500) NULL,
	[AreaID] [int] NULL,
	[StepID] [int] NULL,
	[IsOnlyOne] [int] NULL,
	[IsShow] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
