<% include ../header.html %>
<script src="/js/highcharts.js"></script>
<style>
  .error{
    color: red; 
  }

  #info{
    font-size: 25px; 
  }
</style>


<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $('#phonecode').keydown(function(e){
      if(e.keyCode==13){
        var code = $("#phonecode").val();
        alert(code);
        //后面再加
      }
    });
    
    
   var readpic = function (){
      $.get('/admin/info/pic/<%=row.meet_guid%>',function(data,status){
        if(status=='success' && data.success==true){
          
          var charts = new Highcharts.Chart({
          chart: {
            renderTo:'chart',
            type: 'pie',
              options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
              }
            },
            title: {
              text: '签到率图'
            },
            tooltip: {
                pointFormat: '{series.name}: 占总数的<b>{point.percentage:.1f}%</b>'
            },
            credits:{
              enabled:false // 禁用版权信息
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '人数：',
                data: [
                    ['签到',  data.data[1].total],
                    ['未签到',data.data[0].total]
                ]
            }]
          });
          
          //setTimeout(readpic,2000);
        };
      });
    };
    
    readpic();
    
    
  });
    
    
  
</script>
  
<div class="page-header">
  <h1>会议活动详情<small></small></h1>
</div>

<div class="container">
  <div class="row">
  
    <div class="col-md-6" id="info">
      <dl class="dl-horizontal">
        <dt>会议主题</dt>
        <dd><%=row.meet_title%></dd>
      </dl>
      
      <dl class="dl-horizontal">
        <dt>会议时间</dt>
        <dd><%=row.meet_time%></dd>
      </dl>
      
      <dl class="dl-horizontal">
        <dt>状态</dt>
        <dd>
         <% if(row.meet_status==0){%> <span class="label label-danger">结束</span> <%}%>  
         <% if(row.meet_status==1){%> <span class="label label-info">报名</span> <%}%>
         <% if(row.meet_status==2){%> <span class="label label-success">签到</span> <%}%>
        </dd>
      </dl>
      
      <dl class="dl-horizontal">
        <dt>二维码编号(<%=row.meet_sceneid%>)</dt>
        <dd><img src="<%=qrcodeurl%>" width="200" height="200"></dd>
      </dl>
           
      <dl class="dl-horizontal">
        <dt style="color:red">没有微信签到</dt>
        <dd><input id='phonecode' type="text" placeholder="输入手机号码" data-toggle="tooltip" data-placement="top" title="回车确定签到"></dd>
      </dl>
    
    </div >  
  
 
    <div class="col-md-6">
      
      <div id="chart" style="min-width:600px;height:400px">
        
      </div>
    
    </div>
  </div>

  
</div>
  
  

 
  
<% include ../footer.html %>