<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<style>
  body{
    text-align: center;
    font-size: 30px;
    font-family: "microsoft yahei"; 
    margin: 20px;
  }
  
  input{
    font-size: 45px;
    height: 60px;
    width: 100%;
    letter-spacing:2px
  }
  
  button{
    margin-top: 20px;
    height: 60px;
    width: 80%;
    letter-spacing:2px;
    font-size: 45px;
    background-color: #e86716;
  }
</style>

  
<body>
  
  <% if(!err){ %>
    <div style="padding-bottom: 20px;padding-top: 20px;" >输入你的手机号码</div>
    <div>
    <input type="number" id="user_phone" value="<%=user_phone%>" />
    </div>

    <div>
    <button id="btnsignin" class="abc" type="button">点击签到</button>
    </div>
    <div id="msg" style="padding-bottom: 20px;padding-top: 20px;font-size:30px; " ></div>
    <div id="closewin" style="color:#999; font-size: 20px;"></div>
  <%}else{%>
    <div id="msg" style="padding-bottom: 20px;padding-top: 20px;font-size:30px;color:red " ><%=errormsg%></div>
  <%}%>
  
  
  

</body>
  
<script language='javascript'>
    
    //定时关闭窗口
    var ck = 5;
    function closewin()
    {
      WeixinJSBridge.call('closeWindow');
    };
    function clock()
    {
      ck=ck-1
      document.getElementById("closewin").innerHTML="本窗口将在" + ck + "秒后自动关闭!";
      if(ck>0)setTimeout("clock();",1000);
        else closewin();
    };
    function writelog(str){
      document.getElementById('msg').innerHTML=str;
      document.getElementById('msg').style.color="blue";
    };
    function success(){
      document.getElementById("btnsignin").style.display="none";
      writelog("签到成功。。。");
    };
    
    function failure(msg){
      writelog(msg);
      document.getElementById('msg').style.color="red";
    };
  
    var XMLHttpReq = new XMLHttpRequest();
    function processResponse() {  
      if (XMLHttpReq.readyState == 4) {  
        if (XMLHttpReq.status == 200) {  
            var text = XMLHttpReq.responseText;  //返回值
            var data = eval('(' + text + ')');
            if (data.success == true){
              success();
              //定时关闭窗口
              clock();
            }
            else{
              failure(data.msg);
              clock();
            };
        }
        else{
          failure('连接服务器发生异常错误。'); 
          clock();
        }
      }
      else if(XMLHttpReq.readyState == 1){
        writelog('1发送签到请求');
      }else if(XMLHttpReq.readyState == 2){
        writelog('2已经接收签到请求响应内容');
      }else if(XMLHttpReq.readyState == 3){
        writelog('3服务器正在处理签到请求内容');
      }
    };
  
  
    var btnsignin = document.getElementById("btnsignin");
    if(btnsignin){
      btnsignin.onclick=function(){
        var phone = document.getElementById("user_phone");
        var user_phone = phone.value;
        if (user_phone.length!=11){
          failure("电话号码有错误");
          phone.focus();
          return; 
        };
        
        
        var meet_guid = "<%=meet_guid%>";
        var openid = "<%=openid%>";
        var user_phone_old = "<%=user_phone_old%>";
        
        writelog('检验发送中，请稍候...');
        btnsignin.disabled=true;
        XMLHttpReq.open("post", '/m/signin', true);  
        XMLHttpReq.onreadystatechange = processResponse; //指定响应函数
        XMLHttpReq.setRequestHeader("Content-Type","application/x-www-form-urlencoded;charset=gbk");
        XMLHttpReq.send("user_phone="+user_phone + "&meet_guid=" + meet_guid + 
                        "&openid=" + openid + "&user_phone_old=" + user_phone_old); 
        
      };
    };
  
    document.getElementById("user_phone").focus();
</script>
  
</html>