<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>擎洲签到系统-作者：龙仕云。</title>

    <!-- Bootstrap -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.min.js"></script>
    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    
    <!--[if lt IE 9]>
    <div  style="margin: 0;margin: 100px">
      <h1>360 安全卫士提醒您：</b>您的 IE 浏览器太低不被支持。试试其他的：<a href="http://se.360.cn">360 浏览器</a>、<a href="http://firefox.com.cn/">火狐浏览器</a>、<a href="http://mb.qq.com/">QQ浏览器。</a></h1>
    </div>
    <![endif]-->
    
</head>
<body>
<div class="container-fluid">

<!--  以下是页面内容 -->