<% include header.html %>
  
<style>

   #msg{
      padding: 50px;
      font-size: 40px; 
   }
  
  .error{
      color: #eb1414;   
   }

  .lead{
    line-height: 0.7; 
  }
  
</style>
  
<script>
  
  var sh ;
  
  $(document).ready(function(){
    
    

    $("#doimport").on('click',function(){  
      $.post('/admin/import/push/<%=meet_guid%>',function(result,status){
        if(status=='success'){
          if(result.success){
            $("#msg").removeClass('error');
            $("#msg").text(result.msg);
          }
          else{
            $("#msg").addClass('error');
            $("#msg").text(result.msg);
          }
        };
      });
    });
  
  });
  
</script>

<div class="page-header">
  <h1>导入名单 <small>-必须指定的模板生成的数据，<a href="/import.csv">模板下载点击</a>。</small></h1>
</div>

<div>  
  <p class="lead">1. 文件可以记事本打开，并显示出图示的格式,<a href="/img/importview.png" target="_blank">见图示</a>。</p>
  <p class="lead">2. 导入如发现有乱码，用写字板打开转为utf8格式，<a href="/img/impututf8.png" target="_blank">见图示</a>。</p>
  <p class="lead">3. 如果已经开始报名了，再导入数据将会覆盖报名的信息。</p>
  <% if(rowcount>0){ %>
    <p class="lead">4.当前会议已有<strong><%=rowcount%></strong>条数据，导入之后将会覆盖掉。</p>
  <%}%>  
    
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-warning btn-lg btn-block">1.上传文件</button>
      <button id="doimport" type="button" class="btn btn-danger btn-lg btn-block">2.开始导入</button>
    </div>
    
    <div class="col-md-4">
      <div id="rowcountlable"></div>
    </div>
  </div>
    
  <div class="text-center error" id="msg">
    
  </div>
    
</div>

  
<% include footer.html %>