<% include header.html %>
  
<style>


  .table tbody tr th{
    border-top: 0px solid #ddd;
  }
  
</style>

<div class="page-header">
  <h1>培训会议 <small>-<a href="">增加会议</a></small></h1>
</div>

<div>
  <table class="table">
    <tr>
      <th> 会议主题 </th>
      <th> 时间</td>
      <th> 状态</td>
      <th> 操作</td>
    </tr>
  <% rows.forEach(function(row){ %> 
    <tr>
      <td><%=row.meet_title%></td> 
      <td><%=row.meet_time%></td> 
      <td>
        <% if(row.meet_status==0){%> <span class="label label-danger">结束</span> <%}%>  
        <% if(row.meet_status==1){%> <span class="label label-info">报名</span> <%}%>
        <% if(row.meet_status==2){%> <span class="label label-success">签到</span> <%}%>
      </td> 
      <td><a href="/admin/import/<%=row.meet_guid%>">导入名单</a> 监控签到 <a>更多...</a></td>
    </tr>  
  <% }) %>
    
  </table>
</div>
  
<% include footer.html %>