<% include ./header.html %>

<style>

    
body
{
  margin:0px auto;
}

img{
  position:absolute;
  width: 200px;
  height: 200px;
}
  
#txt{
  text-align: center; 
}
  
</style>
  
<script>

  $(document).ready(function(){
    var l = parseInt((document.body.clientWidth-200)/2);
    var r = parseInt((document.documentElement.clientHeight-200)/2);
    $('img').css('left',l);
    $('img').css('top',r);
    $('#txt').css('padding-top',r+200);
  });
  
</script>
  

<div class="pic">
  
  <img src="<%=imgurl%>">
  <div id="txt">微信扫一扫</div>
  
</div>  
  
  
<% include ./footer.html %>