<style>
.container-fluid{
  padding-left: 200px;
}

  
.page-header{
  border-bottom: 1px dashed   #ddd; /*#f82626*/; 
}
  
</style>

<script>
  function CNA(name){
    $('li.action').removeClass('action');
    var lis = $('nav li');
    for (var i=0; i<lis.length;i++){
      if($(lis[i]).text()==name){
        $(lis[i]).addClass('action');
        return;
      };
    };
    
  };

</script>
  
<nav>
  <div>
   <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="  />  
  </div>
  <ul class="list-unstyled">
    <li><a href="/admin/">会议签到</a></li>
    <li><a href="/admin/fans">微信粉丝</a></li>
  </ul>
</nav>